.room-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  max-height: 100vh;
}

.users-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: #333333 1px solid;
  background-color: #1a1a1a;
  width: 250px;
  height: 100%;
  max-height: 100vh;
}

.users-container .users-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.users-container .users-list .user {
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
  gap: 6px;
  align-items: center;
  width: 100%;
  height: 60px;
}

.users-container .users-list .user:hover {
  cursor: pointer;
  background-color: #333333;
}

.users-container .users-list .user * {
  user-select: none;
}

.users-container .users-list .user .user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex: 1;
}

.message-container {
  flex: 1 1 auto;
  overflow-y: auto;
  width: auto;
  padding: 10px;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #666 transparent;
}

/* .message {

} */

.message-top {
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}

.message-top img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.message-top span {
  color: #777777;
  font-size: 0.8rem;
}

.message-top p {
  cursor: pointer;
  user-select: none;
}

/* .message-menu {
  position: absolute;
  top: 0;
  left: 100%;
  min-width: 80px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 6px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.message-menu button {
  background: none;
  border: none;
  padding: 6px 10px;
  text-align: left;
  cursor: pointer;
}

.message-menu button:hover {
  background: #f5f5f5;
} */

.chat-container form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.message-form{
  display: flex;
  justify-content: space-between;
  gap: 5px;
  width: 100%;
}

.message-form button {
  margin-left: 5px;
  width: 60px;
  height: 60px;
}

.chat-container form input {
  width: calc(100% - 10px);
}

.chat-image {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 300px;
}

.message-title {
  display: flex;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #1a1a1a;
  border-bottom: #333333 1px solid;
}

.message-title .title-content {
  margin-left: 20px;
}

.title-content h4 {
  font-size: 1.2rem;
}

.title-content span {
  font-size: 0.9rem;
  color: #bbbbbb;
}

.message-title img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 10px;
}

.isOnline {
  margin-left: 15px;
  font-size: 0.9rem;
}

.room-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.avatar-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd;
  display: block;
}

.avatar-overlay {
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 14px;
  font-weight: 500;

  opacity: 0;
  transition: opacity 0.2s;
}

.avatar-wrapper:hover .avatar-overlay {
  opacity: 1;
}

@media (max-width: 768px) {
  .message-title {
    width: 100vw;
  }

  .message-title img {
    margin-left: 60px;
  }

}