/* 기본 설정 */
html, body, #__nuxt, #__layout {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #01021A;
  font-family: pyeojinGothic-medium, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

hr {
  border: none;
  height: 2px;
  background-color: #3b4fff;
  margin: 0;
}

h4 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input:focus {
  outline: none;
}

.input::placeholder {
  color: #999999;
  opacity: 1;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}


/* 기본 UI */
.primary-input {
  background: #ffffff05;
  border: 1px solid hsla(0, 0%, 100%, .04);
  border-radius: 8px;
  color: #ffffff;
  outline: none;
  padding: 8px 10px;
  font-family: pyeojinGothic-light, sans-serif;
}

.primary-input:focus {
  border-color: #5b6bff;
  box-shadow: 0 0 5px #7f9bff;
}

.primary-button {
  padding: 10px 18px;
  border: 1px solid hsla(0, 0%, 100%, .04);
  border-radius: 8px;
  background-color: #ffffff05;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
  font-family: PyeojinGothic-light;
}

.primary-button:hover {
  background-color: #ffffff10;
}

.outline-button {
  padding: 10px 16px;
  border: 2px solid #5b6bff;
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
}

.outline-button:hover {
  border-color: #5b6bff;
  box-shadow: 0 0 5px #7f9bff;
}

@font-face {
    font-family: 'PyeojinGothic-light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2504-1@1.0/PyeojinGothic-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'PyeojinGothic-medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2504-1@1.0/PyeojinGothic-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'PyeojinGothic-heavy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2504-1@1.0/PyeojinGothic-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@media (max-width: 768px) {
  html, body {
    overflow-x: hidden;
  }
}
