/* 기본 설정 */
html, body, #__nuxt, #__layout {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #01021A;
  font-family: pyeojinGothic-medium, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

hr {
  border: none;
  width: 85%;
  height: 2px;
  background-color: #707070;
}

h2 {
    font-size: 1.8rem;
}

h4 {
  margin: 0;
  padding: 0;
}

h5 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input:focus {
  outline: none;
}

.input::placeholder {
  color: #999999;
  opacity: 1;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}


/* 기본 UI */
.primary-input {
  background: #ffffff05;
  border: 1px solid hsla(0, 0%, 100%, .04);
  border-radius: 8px;
  color: #ffffff;
  outline: none;
  padding: 8px 10px;
  font-family: pyeojinGothic-light, sans-serif;
}

.primary-input:focus {
  border-color: #5b6bff;
  box-shadow: 0 0 5px #7f9bff;
}

.primary-button {
  padding: 10px 18px;
  border: 1px solid hsla(0, 0%, 100%, .04);
  border-radius: 8px;
  background-color: #ffffff05;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
  font-family: PyeojinGothic-light;
}

.primary-button:hover {
  background-color: #ffffff10;
}

.outline-button {
  padding: 10px 16px;
  border: 2px solid #5b6bff;
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
}

.outline-button:hover {
  border-color: #5b6bff;
  box-shadow: 0 0 5px #7f9bff;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  border: 2px solid #3f3f3f;
}

.user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #ddd;
  border-top: 4px solid #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}


.dropdown-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 30px;
  left: 90%;
  background-color: #3a3a3a;
  border-radius: 8px;
  overflow: hidden;
  padding: 4px 0;
  display: flex;
  flex-direction: column;
  gap: 0;
  z-index: 1002;
  min-width: 120px;
}

.dropdown-menu li button {
  width: 100%;
  text-align: left;
  padding: 8px 12px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.dropdown-menu li button:hover {
  background-color: #555;
}

.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;

  animation: fadeIn 0.2s ease-out;
}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@font-face {
    font-family: 'PyeojinGothic-light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2504-1@1.0/PyeojinGothic-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'PyeojinGothic-medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2504-1@1.0/PyeojinGothic-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'PyeojinGothic-heavy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2504-1@1.0/PyeojinGothic-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@media (max-width: 768px) {
  html, body {
    overflow-x: hidden;
  }
}
